.navbar-custom{
    background-color: #FF8D0E;
}

.navbar-nav .nav-link {
    font-size: 20px;
}

.navbar-nav a {
    color: white;
}

.navbar-nav a:hover {
    color: #FFEAB2;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #FF8D0E;
    border-radius: 5px;
}

#cecex{
    border-radius: 5px;
}

footer{
    background-color: #FF8D0E;
}

#facebook-button {
    background-color: #3b5998;
}

#twitter-button {
    background-color: #55acee;
}

#instagram-button {
    background-color: #ac2bac;;
}

#biblioteca{
    background-image: url('../img/biblioteca-digital.jpg');
}

@media (max-width: 576px) {
    .carousel-caption {
      font-size: 1rem;
    }
}

.main-custom{
    /*(background-color: #001F3F;*/
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,31,63,1) 85%, rgba(0,212,255,1) 100%);
}

.texto-fondo-azul{
    color: #F0F0F0;
}

